---
layout: page
heading: "Practical Distributed Systems"
subtitle: "Lecture resources"
description: ""
image: "img/home-bg.jpg"
---

{% for post in paginator.posts %}
<div class="post-preview">
	<a href="{{ post.url | prepend: site.baseurl }}">
		<h2 class="post-title">
			{{ post.title }}
		</h2>
		{% if post.subtitle %}
		<h3 class="post-subtitle">
			{{ post.subtitle }}
		</h3>
		{% endif %}
	</a>
	<p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<div class="lectures">
	<h2>
		Lecture slides
	</h2>
	<ol>
		<li><a href="/slides/1.pdf">Introduction</a>
		<li><a href="/slides/2.pdf">Data storage in distributed systems - part I</a>
		<li><a href="/slides/3.pdf">Data storage in distributed systems - part II</a>
		<li><a href="/slides/4.pdf">Stream processing - part I</a></li>
		<li><a href="/slides/5.pdf">Stream processing - part II</a></li>
		<li><a href="/slides/6.pdf">Stream processing - part III</a></li>
		<li><a href="/slides/7.pdf">Distributed file systems</a></li>
		<li><a href="/slides/8.pdf">Large-scale batch processing</a></li>
		<li><a href="/slides/9.pdf">Performance, latency and scaling</a></li>
		<li><a href="/slides/10.pdf">Load balancing</a></li>
		<li><a href="/slides/11.pdf">Applications deployment</a></li>
		<li><a href="/slides/12.pdf">Cloud solutions</a></li>
		<li><a href="/slides/13.pdf">Monitoring and observability</a></li>
		<li><a href="/slides/14.pdf"> Data Centers and networks</a></li>

	</ol>
</div>

<hr>

<div class="lectures">
	<h2>
		Laboratory instructions
	</h2>
	<ol>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab01">Introduction</a>
		</li>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab02">Database replication, load balancing and failover - Patroni</a>
		</li>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab03">NoSQL, Schema Registry and Schema Evolution</a>
		</li>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab04">Stream processing - part I - Apache Kafka</a>
		</li>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab05">Stream processing - part II - Kafka Streams</a>
		</li>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab06">Project Bootstrap</a>
		</li>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab07">Object Storage</a>
		</li>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab08">Batch processing using Apache Spark</a>
		</li>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab09">Server benchmarking and load shedding</a>
		</li>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab10">Load balancing</a>
		</li>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab11">Applications deployment</a>
		</li>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab12">Cloud computing</a>
		</li>
		<li>
			<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/lab13">Monitoring and observability</a>
		</li>
	</ol>

</div>

<hr>

<hr>

<div>
	<a href="/OpenVPN.pdf">
		OpenVPN Connection instructions
	</a>
</div>


<div class="lectures">
	<h2>
			Final Assignment
	</h2>
	<ul>
			<li>
					<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/project/project-intro.pdf">Intro</a>
			</li>
			<li>
					<a href="https://github.com/RTBHOUSE/mimuw-lab2024L/tree/main/project">Specifications</a>
			</li>
	</ul>
</div>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
	{% if paginator.next_page %}
	<li class="previous">
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Older Posts</a>
	</li>
	{% endif %}
	{% if paginator.previous_page %}
	<li class="next">
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer Posts &rarr;</a>
	</li>
	{% endif %}
</ul>
{% endif %}
